{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"printWidth": 80,
	"proseWrap": "preserve",
	"requirePragma": false,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": false,
	"useTabs": true
}
