language: node_js
node_js:
  - '8'
  - '10'
  - lts/*
  - node

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-4.9-dev

script:
  - npm run lint
  - npm test